<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="#">FLC Registration System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <!-- <a class="nav-link" href="#">Home</a> -->
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li> -->
        </ul>
      </div>
    </nav>
    <h1>Welcome <%= user.full_name %></h1>
    <h3><a href="/memberedit/<%= user.id %>">Klik disini untuk rubah data</a></h3>
    <ul>
      <li><strong>Email:</strong> <%= user.email %></li>
      <li><strong>Password:</strong> <%= user.password %></li>
      <li><strong>Nama Lengkap:</strong> <%= user.full_name %></li>
      <li><strong>Tanggal Lahir:</strong> <%= user.born_date %></li>
      <li><strong>Kota Asal:</strong> <%= user.city %></li>
      <li><strong>Nomor Telepon:</strong> <%= user.phone_number %></li>
      <li><strong>T-Shirt Size:</strong> <%= user.tshirt_size %></li>
      <li><strong>Foto:</strong> <img height="50%" src="<%= user.profile_picture %>"/></li>
    </ul>
    <div style="width: 100%; text-align: center;">
      <h1><a href="/tagname/<%= user.id %>" >Download TagName</a></h1>
      
      <a href="/tagname/<%= user.id %>" class="btn btn-success">Download Sekarang</a>
    </div>

  </body>
</html>