<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
    </title>
    <link rel="stylesheet" type="text/css" href="https://myfiles.space/user_files/149492_02d918f43e1c5ada/1677896283_flc/styles.css" media="all">
</head>

<body spellcheck="false">
    <div class="wcdiv wcpage" style="width:612pt; height:792pt;">
        <div class="wcdiv"><img class="wcimg" style="left: 125.83pt; top: 60.15pt; width: 380pt; height: 647.15pt;" src="https://myfiles.space/user_files/149492_02d918f43e1c5ada/1677896283_flc/1677896283_flc-1.png" width="380pt" height="647.15pt"></div>
        <div class="wcdiv" style="left:219.1pt; top:516.83pt;">
            <div class="wcdiv" style="clip:rect(3.95pt,97.9pt,22.05pt,0.35pt);">
                <div class="wcdiv" style="left:7.55pt; top:3.95pt;"><span class="wcspan wctext001" style="font-size:14pt; left:0pt; top:0pt; line-height:17.09pt;"><%= user.phone_number %></span></div>
            </div>
        </div>
        <div class="wcdiv" style="left:218.5pt; top:549.05pt;">
            <div class="wcdiv" style="clip:rect(3.95pt,251.95pt,20.2pt,0.35pt);">
                <div class="wcdiv" style="left:7.55pt; top:3.95pt;"><span class="wcspan wctext001" style="font-size:14pt; left:0pt; top:0pt; line-height:17.09pt;"><%= user.email %></span></div>
            </div>
        </div>
        <div class="wcdiv" style="left:217.85pt; top:580.35pt;">
            <div class="wcdiv" style="clip:rect(3.95pt,275.1pt,18.95pt,0.35pt);">
                <div class="wcdiv" style="left:7.55pt; top:3.95pt;"><span class="wcspan wctext001" style="font-size:14pt; left:0pt; top:0pt; line-height:17.09pt;"><%= user.city %></span></div>
            </div>
        </div>
        <div class="wcdiv" style="left:182.55pt; top:447.42pt;">
            <div class="wcdiv" style="clip:rect(3.95pt,258.65pt,36.66pt,0.35pt);">
                <div class="wcdiv" style="left:7.55pt; top:3.95pt;"><span class="wcspan wctext001" style="font-size:18pt; left:79.56pt; top:0pt; line-height:21.97pt;"><%= user.full_name %></span> <span class="wcspan wctext001" style="font-size:18pt; left:117.51pt; top:0pt; line-height:21.97pt;">&nbsp;</span></div>
            </div>
        </div>
        <div class="wcdiv" style="left:163.33pt; top:481.15pt;">
            <div class="wcdiv" style="clip:rect(3.95pt,295.9pt,23pt,0.35pt);">
                <div class="wcdiv" style="left:7.55pt; top:3.95pt;"><span class="wcspan wctext001" style="font-size:18pt; left:89.02pt; top:0pt; line-height:21.97pt;"><%= user.position_at_church %></span> <span class="wcspan wctext001" style="font-size:18pt; left:143.86pt; top:0pt; line-height:21.97pt;">&nbsp;</span> <span class="wcspan wctext001" style="font-size:18pt; left:147.93pt; top:0pt; line-height:21.97pt;">Musik</span></div>
            </div>
        </div>
        <div class="wcdiv" style="left:374.05pt; top:656.02pt;">
            <div class="wcdiv" style="clip:rect(3.95pt,97.9pt,34.6pt,0.35pt);">
                <div class="wcdiv" style="left:7.55pt; top:3.95pt;"><span class="wcspan wctext002" style="font-size:22pt; color:#ffffff; left:0pt; top:0pt; line-height:26.86pt;">-</span> <span class="wcspan wctext002" style="font-size:22pt; color:#ffffff; left:6.74pt; top:0pt; line-height:26.86pt;">&nbsp;</span> <span class="wcspan wctext002" style="font-size:22pt; color:#ffffff; left:11.71pt; top:0pt; line-height:26.86pt;"><%= user.id %></span></div>
            </div>
        </div>
        <div class="wcdiv" style="left:234.5pt; top:253.93pt;"><img class="wcimg" style="left: 8.99pt; top: 173.46pt; width: 138.77pt; height: 52.51pt;" src="https://myfiles.space/user_files/149492_02d918f43e1c5ada/1677896283_flc/1677896283_flc-2.png" width="138.77pt" height="52.51pt">
            <div class="wcdiv" style="left:-2.89pt; top:-2.89pt; width:217px; height:218px;">
                <!-- <object type="image/svg+xml" data="<%= user.profile_picture %>"></object> -->
                <img style="border-radius: 50%; height: 105%; width: 105%; margin-left: -5px;" src="\<%= user.profile_picture %>" />
            </div>
        </div>
    </div>
</body>

</html>