<!DOCTYPE html>
<html>
<head>
    <title>All Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-DmS1KsM7x6zCBvM+3osGSXaDbZnJlFfSTckKpqDf6DyQ/6UXTsf0UorB1JbX904X" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-4">All Users</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Born Date</th>
                    <th scope="col">City</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Position at Church</th>
                    <th scope="col">T-Shirt Size</th>
                    <th scope="col">Blazer Size</th>
                    <th scope="col">Profile Picture</th>
                    <th scope="col">Quotes Words</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user) { %>
                    <tr>
                        <td><%= user.email %></td>
                        <td><%= user.full_name %></td>
                        <td><%= user.born_date %></td>
                        <td><%= user.city %></td>
                        <td><%= user.phone_number %></td>
                        <td><%= user.position_at_church %></td>
                        <td><%= user.tshirt_size %></td>
                        <td><%= user.blazer_size %></td>
                        <td><img src="<%= user.profile_picture %>" alt="Profile Picture" width="50" height="50"></td>
                        <td><%= user.quotes_words %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html> 

To use this file in your code, you would add the following route:

app.get("/users", function(req, res) {
    User.find()
    .then(function(users) {
        res.render("users", { users });
    })
    .catch(function(err) {
        console.log(err)
    });
}); 
