<!DOCTYPE html>
<html>
<head>
  <title>Pendaftaran School Of Prophets Berhasil!</title>
  <style>
    /* Add your CSS styles here */
  </style>
</head>
<body>
  <h1>Terima kasih sudah Mendaftar!</h1>
  <p>Halo <%= user.full_name %>,</p>
  <h4>Untuk Tag Name bisa klik disini:</h4>
  <a href="<%= localURL %>/members/<%= user.id %>">Klik Disini</a>
  <div style="white-space: pre">
    Selamat anda sudah terdaftar di School of Prophet FLC 2023 angkatan Pertama!
    Acara akan diadakan pada:
    3-6 Mei 2023
    Tempat : Gedung Unity Lt. 7. Gading Serpong - Tangerang
    
    Maps: Unity Ballroom
    https://maps.app.goo.gl/jxjYDhomC7cc7xaCA?g_st=ic
    
    
    Setiap peserta wajib mendownload dan mencetak kartu nama sendiri pada link di bawah ini. 
    
    https://flc-conference-ticket.abbayosua.repl.co//members/644c1698b87fc84b9f20b1c6
    
    Jika butuh bantuan silakan hubungi Sekretaris kami. 
    Christina Pakpahan
    081284673785
    Berikut Informasi pendaftaran anda:</div>
  <ul>
    <img style="border-radius: 50%; max-height: 200px; max-width: 200px; margin-left: -5px;object-fit: cover;" src="<%= user.profile_picture %>" />
    <li><strong>Email:</strong> <%= user.email %></li>
    <!-- <li><strong>Password:</strong> <%= user.password %></li> -->
    <li><strong>Nama Lengkap:</strong> <%= user.full_name %></li>
    <li><strong>Tanggal Lahir:</strong> <%= user.born_date %></li>
    <li><strong>Kota Asal:</strong> <%= user.city %></li>
    <li><strong>Nomor Telepon:</strong> <%= user.phone_number %></li>
    <li><strong>Ukuran T-Shirt:</strong> <%= user.tshirt_size %></li>
    <li><strong>Ukuran Jas:</strong> <%= user.blazer_size %></li>
  </ul>
  <p>Jika ada kendala bisa langsung chat whatsapp support <a href="https://wa.me/628117774884">disini</a></p>
  <p>Sincerely,</p>
  <p>FLC Team</p>
</body>
</html>