<!-- users.ejs -->

<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <title>Users List</title>
</head>

<link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark mb-5">
    <a class="navbar-brand" href="#">FLC Registration System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/supermenu">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li> -->
      </ul>
    </div>
  </nav>
 <h1>Users List</h1>
 
 <a class="btn btn-primary" href="/">Add New User</a>
 <a class="btn btn-success" onclick="generateExcel()">Download List Peserta (Excel)</a>
 <a class="btn btn-primary" href="/download-photos-pdf">Download Photos untuk dikirim ke percetakan</a>
 <table>
 <thead>
 <tr>
  <th>Nomor Urut Peserta</th>
 <th>Email</th>
 <th>Name</th>
 <th>Birth Date</th>
 <th>City</th>
 <th>Phone Number</th>
 <th>Position at Church</th>
 <th>T-Shirt Size</th>
 <th>Blazer Size</th>
 <th>Profile Picture</th>
 <th>Quotes Words</th>
 <th>Print TagName</th>
 <th>Edit</th>
 <th>Delete</th>
 </tr>
 </thead>
 <tbody>
 <% users.forEach(function(user) { %>
 <tr>
  <td><%= user.user_number %></td>
 <td><%= user.email %></td>
 <td><%= user.full_name %></td>
 <td><%= user.born_date %></td>
 <td><%= user.city %></td>
 <td><%= user.phone_number %></td>
 <td><%= user.position_at_church %></td>
 <td><%= user.tshirt_size %></td>
 <td><%= user.blazer_size %></td>
 <td><img src="<%= user.profile_picture %>"/></td>
 <td><%= user.quotes_words %></td>
 <td><a class="btn btn-primary" href="/tagname/<%= user._id %>">Print Tagname</a></td>
 <td><a class="btn btn-success" href="/edit/<%= user._id %>">Edit</a></td>
 <td><form method="POST" action="/delete/<%= user._id %>"><button type="submit">Delete</button></form></td>
 </tr>
 <% }); %>
 </tbody>
 </table>
</body>
<script>
  // This function will be triggered when the "Save" button is clicked
function generateExcel() {
  // Show a prompt to get the desired filename from the user
  var fileName = prompt("Mau disimpan dengan nama apa?");

  // If the user clicked "OK" and entered a filename
  if (fileName != null && fileName != "") {
    // Construct the URL with the dynamic filename
    var url = "/exceldownload/" + fileName;

    // Redirect to the dynamic URL
    window.location.href = url;
  }
}

</script>
<style>

    body {
      background-color: #f1f3f4;
      font-family: 'Roboto', sans-serif;
    }
    
    h1 {
      font-size: 36px;
      color: #202124;
      margin-bottom: 24px;
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    thead {
      background-color: #f1f3f4;
    }
    
    th {
      font-weight: 500;
      text-align: left;
      padding: 12px;
      color: #5f6368;
      border-bottom: 1px solid #dadce0;
    }
    
    td {
      padding: 12px;
      border-bottom: 1px solid #dadce0;
    }
    
    td img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
    
    /* a {
      display: inline-block;
      background-color: #1a73e8;
      color: #fff;
      font-weight: 500;
      text-align: center;
      padding: 12px 24px;
      border-radius: 4px;
      text-decoration: none;
      margin-top: 24px;
    }
    
    a:hover {
      background-color: #0d47a1;
    } */
    
    button[type="submit"] {
      background-color: #db4437;
      color: #fff;
      font-weight: 500;
      text-align: center;
      padding: 12px 24px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
    }
    
    button[type="submit"]:hover {
      background-color: #c62828;
    }
    </style>
</html>